@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: notosans-light;
        src: url('../src/assets/fonts/NotoSansTC-Light.otf');
    }

    @font-face {
        font-family: notosans-bold;
        src: url('../src/assets/fonts/NotoSansTC-Bold.otf');
    }
}